################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MySmartLock/bin/Debug
/MySmartLock/MySmartLockService/obj/Debug
/MySmartLock/MySmartLockTester/obj/Debug
/MySmartLock/MySmartLockUI/obj/Debug
/MySmartLock/.vs/MySmartLock/v15
