################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MySmartLock/MySmartLockService/obj/Debug
/MySmartLock/MySmartLockTester/obj/Debug
/MySmartLock/MySmartLockUI/obj/Debug
/MySmartLock/.vs/MySmartLock/v15
/MySmartLock/MySmartLockService/bin/Release
/MySmartLock/MySmartLockTester/bin/Release
/MySmartLock/MySmartLockService/obj/Release
/MySmartLock/MySmartLockTester/obj/Release
/MySmartLock/MySmartLockUI/bin/Release
/MySmartLock/MySmartLockUI/obj/Release
/MySmartLock/bin
MySmartLock/bin/Debug/MySmartLockUI/MySmartLockUI.exe
